body {
    background-color: #525252;
    color: whitesmoke;
    font-family: 'Cutive Mono', monospace;
    font-weight: 700;
    font-size: 20px;
    display: flex;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 60px;
    font-weight: 200;
    margin: 0;
}

h2 {
    margin: 0 0 15px 0;
}

#controls {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}

button {
    font-family: 'Special Elite', cursive;
    flex-wrap: wrap;
    flex: none;
    gap: 10px;
    padding: 12px 8px 8px 8px;
    color: white;
    background-image: url(../images/gravel.jpg);
    border-radius: 7px;
    justify-content: flex-start;
    background-position: center;
    font-size: 20px;
}

#game {
    display: grid;
    position: relative;
    margin: 10% 0 0 10%;
    z-index: 1;
}

#alertP {
    margin: 0 0 10px 0;
}

#alertDiv {
    background: rgb(86, 99, 111);
    /* border: gray solid; */
    position: absolute;
    margin: 15% 0 0 15%;
    width: 50%;
    z-index: 2;
    padding: 10px;
    display: block;
    filter: drop-shadow(0px 0px 30px black);
    border-radius: 7px;
    display: flex;
    gap: 10px;
}

#buttonDiv {
    display: flex;
    gap: 10px;
    flex: auto;
    flex-wrap: wrap;
}